<h1><%= @lesson.title %></h1>

<p>
  <strong>Conteudo:</strong>
  <%= @lesson.content %>
</p>

<%= link_to 'Editar', edit_course_lesson_path(@course, @lesson) %> |
<%= link_to 'Voltar', course_path(@course) %>
